.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  height: 45px;
  width: 45px;
  padding: 5px 10px 0px 10px;
  font-size: 25px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--secondary);
}

.button:hover {
  color: var(--font_color_1);
  background: var(--primary);
  transition: all 0.3s ease-in;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectTitle {
  font-size: 20px;
  color: var(--font_color_2);
  padding-right: 5px;
}

.select {
  border: 2px solid var(--tertiary);
  border-radius: 5px;
  outline: none;
  background-color: var(--quaternary);
}


.select option {
  color: var(--font_color_2);
  font-size: 15px;
}

@media screen and (max-width: 1200px) { 
  .button {
    height: 35px;
    width: 35px;
    padding: 2px 5px 0px 5px;
    font-size: 25px;
  }
  
  .selectTitle {
    font-size: 17px;
  }

}

@media screen and (max-width: 1050px) { 
  .container {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
  }

  .button {
    height: 35px;
    width: 35px;
    padding: 2px 5px 0px 5px;
    font-size: 25px;
  }
  
  .selectTitle {
    font-size: 17px;
  }

}

@media screen and (max-width: 950px) { 
  .container {
    padding: 5px;
  }

  .button {
    height: 30px;
    width: 30px;
    padding: 2px 5px 0px 5px;
    font-size: 20px;
  }
  
  .selectTitle {
    font-size: 14px;
  }

  .select {
    width: 35px;
    font-size: 10px;
  
  }
  .select option {
    font-size: 10px;
  }

}

@media screen and (max-width: 600px) {
  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

