.container {
  width: 100%;
  overflow: auto;
}

.tr {
  background: var(rowsTableBackground);
  padding: 5px;
}

.tr:nth-child(even){
  background: var(--rowsTogglesTableBackground);
}

.tr td {
  padding: 15px;
  margin: auto;
}

.action{
  display: flex;
  flex-direction: row;
}

.containerButton{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.button {
  height: 45px;
  width: 45px;
  padding: 0px 10px;
  font-size: 25px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--secondary);
}

.button:hover {
  color: var(--font_color_1);
  background: var(--primary);
  transition: all 0.3s ease-in;
}