.container {
  width: 100%;
  overflow: auto;
}

.row {
  background: var(rowsTableBackground);
  padding: 5px;
}

.row:nth-child(even) {
  background: var(--rowsTogglesTableBackground);
}

.row td {
  padding: 10px;
  text-align: center;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerButton {
  *margin: auto;
  *display: flex;
  *flex-direction: column;
}

.button {
  height: 45px;
  width: 45px;
  padding: 0px 10px;
  font-size: 25px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--secondary);
}

.button:hover {
  color: var(--font_color_1);
  background: var(--primary);
  transition: all 0.3s ease-in;
}
