.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid var(--tertiary);
  border-right: 0px;
  border-radius: 5px;
  height: 45px;
}

.input {
  padding: 0px 5px;
  height: 40px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.icon {
  height: 45px;
  width: 45px;
  display: flex;
  border-left: 2px solid var(--tertiary);
  background: var(--tertiary);
}

#iconSearch {
  margin: 7px 15px 0px 5px;
  font-size: 30px;
  color: var(--quaternary);
}
