.container {
  background: var(--secondary);
  display: flex;
  flex-direction: row;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  width: 300px;
  height: 40px;
}

.container span {
  width: 45px;
  color: var(--font_color_1);
  font-size: 25px;
  text-align: center;
  margin: auto 0;
}

.container input {
  width: 100%;
  font-style: italic;
  outline: none;
  border: 1px solid var(--secondary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 5px;
  background: var(--cardBackground);
}

@media screen and (max-width: 800px) {
  .container {
    width: 250px;
    height: 35px;
  }

  .container span {
    width: 40px;
  }
}
