.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid var(--tertiary);
  border-right: 0px;
  border-radius: 5px;
  height: 45px;
}

.input {
  padding: 0px 5px;
  height: 40px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.icon {
  height: 45px;
  width: 45px;
  display: flex;
  border-left: 2px solid var(--tertiary);
  background: var(--tertiary);
}

#iconSearch {
  margin: 7px 15px 0px 5px;
  font-size: 30px;
  color: var(--quaternary);
}

@media screen and (max-width: 1200px) {
  .container {
    height: 35px;
  }

  .input {
    height: 30px;
    font-size: 15px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  #iconSearch {
    margin: 4px 15px 0px 3px;
    font-size: 28px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    height: 32px;
  }

  .input {
    height: 25px;
    font-size: 13px;
  }

  .icon {
    height: 32px;
    width: 32px;
  }

  #iconSearch {
    margin: 4px 15px 0px 3px;
    font-size: 23px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    border: 3px solid var(--tertiary);
    border-right: 3px;
    padding: 0px;
    height: 28px;
  }
  
  .input {
    height: 20px;
    font-size: 13px;
  }
  
  .icon {
    height: 28px;
    width: 28px;
  }
  
  #iconSearch {
    margin: 4px 15px 0px 4px;
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .input {
    font-size: 11px;
  }
}