@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9054nx');
  src:  url('fonts/icomoon.eot?9054nx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9054nx') format('truetype'),
    url('fonts/icomoon.woff?9054nx') format('woff'),
    url('fonts/icomoon.svg?9054nx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon"], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcabinet:before {
  content: "\e900";
}
.iconcabinet1:before {
  content: "\e901";
}
.iconcalendar:before {
  content: "\e902";
}
.iconcalendar1:before {
  content: "\e903";
}
.iconfile:before {
  content: "\e904";
}
.iconfile1:before {
  content: "\e905";
}
.iconfile2:before {
  content: "\e906";
}
.iconfiles:before {
  content: "\e907";
}
.iconphone1:before {
  content: "\e908";
}
.iconplus1:before {
  content: "\e909";
}
.iconminus1:before {
  content: "\e90a";
}
.iconcog2:before {
  content: "\e90b";
}
.iconcogs1:before {
  content: "\e90c";
}
.iconsuitcase:before {
  content: "\e90d";
}
.iconsuitcase1:before {
  content: "\e90e";
}
.iconsuitcase2:before {
  content: "\e90f";
}
.iconcheckmark:before {
  content: "\e910";
}
.iconcancel:before {
  content: "\e911";
}
.iconsitemap1:before {
  content: "\e912";
}
.iconsitemap2:before {
  content: "\e913";
}
.iconchart:before {
  content: "\e914";
}
.iconchart1:before {
  content: "\e915";
}
.iconchart2:before {
  content: "\e916";
}
.iconchart3:before {
  content: "\e917";
}
.iconchart4:before {
  content: "\e918";
}
.iconchart5:before {
  content: "\e919";
}
.iconlocation1:before {
  content: "\e91a";
}
.iconalarm:before {
  content: "\e91b";
}
.iconphone2:before {
  content: "\e91c";
}
.iconphone3:before {
  content: "\e91d";
}
.icontrashcan:before {
  content: "\e91e";
}
.iconmedal:before {
  content: "\e91f";
}
.iconmedal1:before {
  content: "\e920";
}
.iconmagnifier:before {
  content: "\e921";
}
.iconzoomin:before {
  content: "\e922";
}
.iconzoomout:before {
  content: "\e923";
}
.icongrid:before {
  content: "\e924";
}
.icongrid1:before {
  content: "\e925";
}
.iconlist:before {
  content: "\e926";
}
.iconlist1:before {
  content: "\e927";
}
.icontools:before {
  content: "\e928";
}
.icondownload:before {
  content: "\e929";
}
.iconcalculator1:before {
  content: "\e92a";
}
.iconjustice:before {
  content: "\e92b";
}
.iconstats:before {
  content: "\e92c";
}
.iconstats1:before {
  content: "\e92d";
}
.iconpencil1:before {
  content: "\e92e";
}
.iconprofile1:before {
  content: "\e92f";
}
.iconprofile2:before {
  content: "\e930";
}
.iconprofile3:before {
  content: "\e931";
}
.icondollar1:before {
  content: "\e932";
}
.icondollar2:before {
  content: "\e933";
}
.iconcoins:before {
  content: "\e934";
}
.iconaddressbook:before {
  content: "\e935";
}
.iconaddressbook1:before {
  content: "\e936";
}
.iconenvelope1:before {
  content: "\e937";
}
.iconenvelope2:before {
  content: "\e938";
}
.iconmale:before {
  content: "\e939";
}
.iconfemale:before {
  content: "\e93a";
}
.iconheart:before {
  content: "\e93b";
}
.iconglobe1:before {
  content: "\e93c";
}
.iconglobe2:before {
  content: "\e93d";
}
.iconswitch:before {
  content: "\e93e";
}
.iconmail-envelope:before {
  content: "\e93f";
}
.iconmail-envelope1:before {
  content: "\e940";
}
.iconmail-envelope-open:before {
  content: "\e941";
}
.iconmail-envelope-open1:before {
  content: "\e942";
}
.icontrash-can:before {
  content: "\e943";
}
.icontrash-can1:before {
  content: "\e944";
}
.icontrash-can2:before {
  content: "\e945";
}
.icontrash-can3:before {
  content: "\e946";
}
.iconbook:before {
  content: "\e947";
}
.iconbook1:before {
  content: "\e948";
}
.iconbook-bookmark:before {
  content: "\e949";
}
.iconbook-bookmark1:before {
  content: "\e94a";
}
.iconclipboard-edit:before {
  content: "\e94b";
}
.iconclipboard-edit1:before {
  content: "\e94c";
}
.iconclipboard-add:before {
  content: "\e94d";
}
.iconclipboard-add1:before {
  content: "\e94e";
}
.iconclipboard-remove:before {
  content: "\e94f";
}
.iconclipboard-remove1:before {
  content: "\e950";
}
.iconclipboard2:before {
  content: "\e951";
}
.iconclipboard3:before {
  content: "\e952";
}
.iconclipboard-list:before {
  content: "\e953";
}
.iconclipboard-list1:before {
  content: "\e954";
}
.iconnote-text:before {
  content: "\e955";
}
.iconnote-text1:before {
  content: "\e956";
}
.iconnotebook:before {
  content: "\e957";
}
.iconnotebook1:before {
  content: "\e958";
}
.icondocument-diagrams:before {
  content: "\e959";
}
.icondocument-diagrams1:before {
  content: "\e95a";
}
.icondocument-table:before {
  content: "\e95b";
}
.icondocument-table1:before {
  content: "\e95c";
}
.icondocument-time:before {
  content: "\e95d";
}
.icondocument-time1:before {
  content: "\e95e";
}
.icondocuments:before {
  content: "\e95f";
}
.icondocuments1:before {
  content: "\e960";
}
.icondocuments2:before {
  content: "\e961";
}
.icondocuments3:before {
  content: "\e962";
}
.icondocument-search:before {
  content: "\e963";
}
.icondocument-search1:before {
  content: "\e964";
}
.icondocument-unlocked:before {
  content: "\e965";
}
.icondocument-unlocked1:before {
  content: "\e966";
}
.icondocument-locked:before {
  content: "\e967";
}
.icondocument-locked1:before {
  content: "\e968";
}
.iconfolder-unlocked:before {
  content: "\e969";
}
.iconfolder-unlocked1:before {
  content: "\e96a";
}
.iconlock1:before {
  content: "\e96b";
}
.iconlock2:before {
  content: "\e96c";
}
.iconlock-open:before {
  content: "\e96d";
}
.iconlock-open1:before {
  content: "\e96e";
}
.iconlock-open2:before {
  content: "\e96f";
}
.iconlock-open3:before {
  content: "\e970";
}
.iconlock-rounded:before {
  content: "\e971";
}
.iconlock-rounded1:before {
  content: "\e972";
}
.iconlock-rounded-open:before {
  content: "\e973";
}
.iconlock-rounded-open1:before {
  content: "\e974";
}
.iconlock-rounded-open2:before {
  content: "\e975";
}
.iconlock-rounded-open3:before {
  content: "\e976";
}
.iconprinter:before {
  content: "\e977";
}
.iconprinter1:before {
  content: "\e978";
}
.iconprinter-text:before {
  content: "\e979";
}
.iconprinter-text1:before {
  content: "\e97a";
}
.iconprinter-text2:before {
  content: "\e97b";
}
.iconprinter-text3:before {
  content: "\e97c";
}
.icondocument-edit:before {
  content: "\e97d";
}
.icondocument-edit1:before {
  content: "\e97e";
}
.iconpackage:before {
  content: "\e97f";
}
.iconpackage1:before {
  content: "\e980";
}
.iconbox-filled:before {
  content: "\e981";
}
.iconbox-filled1:before {
  content: "\e982";
}
.iconbox:before {
  content: "\e983";
}
.iconbox1:before {
  content: "\e984";
}
.iconpaperclip1:before {
  content: "\e985";
}
.iconpaperclip2:before {
  content: "\e986";
}
.iconone-finger-swipe-right:before {
  content: "\e987";
}
.iconfile-pdf1:before {
  content: "\e988";
}
.iconfile-pdf2:before {
  content: "\e989";
}
.icondocument-file-pdf:before {
  content: "\e98a";
}
.icondocument-file-pdf1:before {
  content: "\e98b";
}
.iconplus:before {
  content: "\f067";
}
.iconminus:before {
  content: "\f068";
}
.iconsearch:before {
  content: "\f002";
}
.iconstar:before {
  content: "\f005";
}
.iconstar-o:before {
  content: "\f006";
}
.iconuser:before {
  content: "\f007";
}
.iconcheck:before {
  content: "\f00c";
}
.iconclose:before {
  content: "\f00d";
}
.iconremove:before {
  content: "\f00d";
}
.icontimes:before {
  content: "\f00d";
}
.iconsearch-plus:before {
  content: "\f00e";
}
.iconsearch-minus:before {
  content: "\f010";
}
.iconpower-off:before {
  content: "\f011";
}
.iconcog:before {
  content: "\f013";
}
.icongear:before {
  content: "\f013";
}
.icontrash-o:before {
  content: "\f014";
}
.iconhome:before {
  content: "\f015";
}
.iconfile-o:before {
  content: "\f016";
}
.iconarrow-circle-o-down:before {
  content: "\f01a";
}
.iconarrow-circle-o-up:before {
  content: "\f01b";
}
.icontag:before {
  content: "\f02b";
}
.icontags:before {
  content: "\f02c";
}
.iconprint:before {
  content: "\f02f";
}
.iconchevron-left:before {
  content: "\f053";
}
.iconchevron-right:before {
  content: "\f054";
}
.iconarrow-left:before {
  content: "\f060";
}
.iconarrow-right:before {
  content: "\f061";
}
.iconarrow-up:before {
  content: "\f062";
}
.iconarrow-down:before {
  content: "\f063";
}
.iconchevron-up:before {
  content: "\f077";
}
.iconchevron-down:before {
  content: "\f078";
}
.iconshopping-cart:before {
  content: "\f07a";
}
.iconbar-chart:before {
  content: "\f080";
}
.iconbar-chart-o:before {
  content: "\f080";
}
.icontwitter-square:before {
  content: "\f081";
}
.iconfacebook-square:before {
  content: "\f082";
}
.iconcamera-retro:before {
  content: "\f083";
}
.iconcogs:before {
  content: "\f085";
}
.icongears:before {
  content: "\f085";
}
.iconlinkedin-square:before {
  content: "\f08c";
}
.icongithub-square:before {
  content: "\f092";
}
.iconphone-square:before {
  content: "\f098";
}
.icontwitter:before {
  content: "\f099";
}
.iconfacebook:before {
  content: "\f09a";
}
.iconfacebook-f:before {
  content: "\f09a";
}
.icongithub:before {
  content: "\f09b";
}
.iconcredit-card:before {
  content: "\f09d";
}
.iconbell-o:before {
  content: "\f0a2";
}
.iconarrow-circle-left:before {
  content: "\f0a8";
}
.iconarrow-circle-right:before {
  content: "\f0a9";
}
.iconarrow-circle-up:before {
  content: "\f0aa";
}
.iconarrow-circle-down:before {
  content: "\f0ab";
}
.iconglobe:before {
  content: "\f0ac";
}
.icontasks:before {
  content: "\f0ae";
}
.icongroup:before {
  content: "\f0c0";
}
.iconusers:before {
  content: "\f0c0";
}
.iconcopy:before {
  content: "\f0c5";
}
.iconfiles-o:before {
  content: "\f0c5";
}
.iconpaperclip:before {
  content: "\f0c6";
}
.iconfloppy-o:before {
  content: "\f0c7";
}
.iconsave:before {
  content: "\f0c7";
}
.icontruck:before {
  content: "\f0d1";
}
.icongoogle-plus:before {
  content: "\f0d5";
}
.iconmoney:before {
  content: "\f0d6";
}
.iconcaret-down:before {
  content: "\f0d7";
}
.iconcaret-up:before {
  content: "\f0d8";
}
.iconcaret-left:before {
  content: "\f0d9";
}
.iconcaret-right:before {
  content: "\f0da";
}
.iconsort:before {
  content: "\f0dc";
}
.iconunsorted:before {
  content: "\f0dc";
}
.iconenvelope:before {
  content: "\f0e0";
}
.iconlinkedin:before {
  content: "\f0e1";
}
.iconrotate-left:before {
  content: "\f0e2";
}
.iconundo:before {
  content: "\f0e2";
}
.iconsitemap:before {
  content: "\f0e8";
}
.iconclipboard:before {
  content: "\f0ea";
}
.iconpaste:before {
  content: "\f0ea";
}
.iconcloud-download:before {
  content: "\f0ed";
}
.iconcloud-upload:before {
  content: "\f0ee";
}
.iconangle-double-left:before {
  content: "\f100";
}
.iconangle-double-right:before {
  content: "\f101";
}
.iconangle-double-up:before {
  content: "\f102";
}
.iconangle-double-down:before {
  content: "\f103";
}
.iconcalendar-o:before {
  content: "\f133";
}
.iconeur:before {
  content: "\f153";
}
.iconeuro:before {
  content: "\f153";
}
.icondollar:before {
  content: "\f155";
}
.iconusd:before {
  content: "\f155";
}
.iconinstagram:before {
  content: "\f16d";
}
.icondatabase:before {
  content: "\f1c0";
}
.iconfile-pdf-o:before {
  content: "\f1c1";
}
.iconsliders:before {
  content: "\f1de";
}
.iconnewspaper-o:before {
  content: "\f1ea";
}
.iconcalculator:before {
  content: "\f1ec";
}
.iconcc-visa:before {
  content: "\f1f0";
}
.iconcc-mastercard:before {
  content: "\f1f1";
}
.iconcc-discover:before {
  content: "\f1f2";
}
.iconcc-amex:before {
  content: "\f1f3";
}
.iconcc-paypal:before {
  content: "\f1f4";
}
.iconcart-plus:before {
  content: "\f217";
}
.iconcart-arrow-down:before {
  content: "\f218";
}
.icondiamond:before {
  content: "\f219";
}
.iconvenus:before {
  content: "\f221";
}
.iconmars:before {
  content: "\f222";
}
.iconwhatsapp:before {
  content: "\f232";
}
.iconuser-plus:before {
  content: "\f234";
}
.iconuser-times:before {
  content: "\f235";
}
.iconcalendar-plus-o:before {
  content: "\f271";
}
.iconcalendar-minus-o:before {
  content: "\f272";
}
.iconcredit-card-alt:before {
  content: "\f283";
}
.iconshopping-bag:before {
  content: "\f290";
}
.iconshopping-basket:before {
  content: "\f291";
}
.iconpercent:before {
  content: "\f295";
}
.iconenvelope-open:before {
  content: "\f2b6";
}
.iconenvelope-open-o:before {
  content: "\f2b7";
}
.iconaddress-book:before {
  content: "\f2b9";
}
.iconaddress-book-o:before {
  content: "\f2ba";
}
.iconaddress-card:before {
  content: "\f2bb";
}
.iconvcard:before {
  content: "\f2bb";
}
.iconaddress-card-o:before {
  content: "\f2bc";
}
.iconvcard-o:before {
  content: "\f2bc";
}
.iconuser-circle:before {
  content: "\f2bd";
}
.iconuser-circle-o:before {
  content: "\f2be";
}
.iconuser-o:before {
  content: "\f2c0";
}
.iconid-badge:before {
  content: "\f2c1";
}
.icondrivers-license:before {
  content: "\f2c2";
}
.iconid-card:before {
  content: "\f2c2";
}
.icondrivers-license-o:before {
  content: "\f2c3";
}
.iconid-card-o:before {
  content: "\f2c3";
}
.iconnot_interested:before {
  content: "\e98c";
}
.iconrecent_actors:before {
  content: "\e98d";
}
.iconcall:before {
  content: "\e98e";
}
.iconchat:before {
  content: "\e98f";
}
.iconcontact_phone:before {
  content: "\e990";
}
.iconpin_drop:before {
  content: "\e991";
}
.iconsubdirectory_arrow_right:before {
  content: "\e992";
}
.icongroup1:before {
  content: "\e993";
}
.icongroup_add:before {
  content: "\e994";
}
.iconpeople_outline:before {
  content: "\e995";
}
.iconperson:before {
  content: "\e996";
}
.iconshopping_basket:before {
  content: "\e997";
}
.iconlogin:before {
  content: "\e998";
}
.iconwifi_protected_setup:before {
  content: "\e999";
}
.icontimes1:before {
  content: "\e99a";
}
.iconplus2:before {
  content: "\e99b";
}
.iconth-small:before {
  content: "\e99c";
}
.iconth-list:before {
  content: "\e99d";
}
.iconlock-closed:before {
  content: "\e99e";
}
.iconedit:before {
  content: "\e99f";
}
.iconshopping-cart1:before {
  content: "\e9a0";
}
.iconin-alt:before {
  content: "\e9a1";
}
.iconhome1:before {
  content: "\e9a2";
}
.iconhome2:before {
  content: "\e9a3";
}
.iconhome3:before {
  content: "\e9a4";
}
.iconoffice:before {
  content: "\e9a5";
}
.iconpencil:before {
  content: "\e9a6";
}
.iconimage:before {
  content: "\e9a7";
}
.iconcamera:before {
  content: "\e9a8";
}
.iconprofile:before {
  content: "\e9a9";
}
.iconfiles-empty:before {
  content: "\e9aa";
}
.iconcopy1:before {
  content: "\e9ab";
}
.iconpaste1:before {
  content: "\e9ac";
}
.iconcart:before {
  content: "\e9ad";
}
.iconcoin-dollar:before {
  content: "\e9ae";
}
.iconcoin-euro:before {
  content: "\e9af";
}
.iconcoin-pound:before {
  content: "\e9b0";
}
.iconcoin-yen:before {
  content: "\e9b1";
}
.iconphone:before {
  content: "\e9b2";
}
.iconaddress-book1:before {
  content: "\e9b3";
}
.iconenvelop:before {
  content: "\e9b4";
}
.iconlocation:before {
  content: "\e9b5";
}
.iconlocation2:before {
  content: "\e9b6";
}
.iconuser1:before {
  content: "\e9b7";
}
.iconusers1:before {
  content: "\e9b8";
}
.iconuser-plus1:before {
  content: "\e9b9";
}
.iconuser-minus:before {
  content: "\e9ba";
}
.iconuser-check:before {
  content: "\e9bb";
}
.iconuser-tie:before {
  content: "\e9bc";
}
.iconsearch1:before {
  content: "\e9bd";
}
.iconlock:before {
  content: "\e9be";
}
.iconunlocked:before {
  content: "\e9bf";
}
.iconwrench:before {
  content: "\e9c0";
}
.iconequalizer:before {
  content: "\e9c1";
}
.iconcog1:before {
  content: "\e9c2";
}
.iconbin:before {
  content: "\e9c3";
}
.iconbin2:before {
  content: "\e9c4";
}
.icontruck1:before {
  content: "\e9c5";
}
.iconclipboard1:before {
  content: "\e9c6";
}
.iconearth:before {
  content: "\e9ca";
}
.iconblocked:before {
  content: "\ea0e";
}
.iconcross:before {
  content: "\ea0f";
}
.iconcircle-up:before {
  content: "\ea41";
}
.iconcircle-right:before {
  content: "\ea42";
}
.iconcircle-down:before {
  content: "\ea43";
}
.iconcircle-left:before {
  content: "\ea44";
}
.iconfacebook2:before {
  content: "\ea91";
}
.iconinstagram1:before {
  content: "\ea92";
}
.iconwhatsapp1:before {
  content: "\ea93";
}
.icongithub1:before {
  content: "\eab0";
}
.iconfile-pdf:before {
  content: "\eadf";
}
.iconwrite:before {
  content: "\e9c7";
}
.iconprinter2:before {
  content: "\e9c8";
}
.iconswitch1:before {
  content: "\e9c9";
}
.iconadd-outline:before {
  content: "\e9cb";
}
.iconadd-solid:before {
  content: "\e9cc";
}
.iconchart-bar:before {
  content: "\e9cd";
}
.iconchart-pie:before {
  content: "\e9ce";
}
.iconcompose:before {
  content: "\e9cf";
}
.iconcredit-card1:before {
  content: "\e9d0";
}
.iconcurrency-dollar:before {
  content: "\e9d1";
}
.icondownload1:before {
  content: "\e9d2";
}
.iconradar:before {
  content: "\e9d3";
}
.iconradarcopy2:before {
  content: "\e9d4";
}
.iconshopping-cart2:before {
  content: "\e9d5";
}
.iconuser2:before {
  content: "\e9d6";
}
.iconuser-add:before {
  content: "\e9d7";
}
.iconuser-group:before {
  content: "\e9d8";
}
