.container {
	padding: 5px;
	margin: 0px 15px;
	border-radius: 5px;
	background: var(--primary);
	width: 300px;
}

.span {
	color: var(--font_color_1);
	font-style: italic;
	margin: 5px;
	font-size: 14px;
}

@media screen and (max-width: 1024px) {
	.container {
		width: 250px;
	}
}
