.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  padding: 0px 5px;
  color: var(--font_color_2);
}

.container input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--cuartenary);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--secondary);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.container input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
  background-color: CanvasText;
}

.container input[type="checkbox"]:checked::before {
  transform: scale(1);
}