.container {
	width: 70%;
	margin: 0px 20px;
}

@media screen and (max-width: 950px){
	.container {
		width: 100%;
		overflow: auto;
	}
}

@media screen and (max-width: 450px){
	.container {
		margin: 0px;
	}
}