.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  width: 100%;
  background: var(--cardBackground);
}

.titleAndSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
}

.title {
  font-size: 35px;
  color: var(--secondary);
}

.containerTable {
  display: block;
  max-height: 50vh;
  width: 100%;
  overflow-y: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.containerTable::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerTable::-webkit-scrollbar:vertical {
  width: 8px;
}

.containerTable::-webkit-scrollbar-button:increment,
.containerTable::-webkit-scrollbar-button {
  display: none;
}

.containerTable::-webkit-scrollbar:horizontal {
  height: 8px;
}

.containerTable::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarBackground);
  border-radius: 20px;
  border: 2px solid var(--scrollbarBorder);
}

.containerTable::-webkit-scrollbar-track {
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 30px;
    color: var(--secondary);
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding: 5px;
  }

  .title {
    font-size: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding: 5px;
  }

  .title {
    font-size: 25px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    padding: 5px;
  }

  .title {
    font-size: 22px;
  }

  .containerTable {
    max-height: 45vh;
  }
}

@media screen and (max-width: 600px) {
  .titleAndSearch {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-height: 650px) {
  .containerTable {
    max-height: 60vh;
  }
}

@media screen and (min-height: 800px) {
  .containerTable {
    max-height: 65vh;
  }
}

@media screen and (min-height: 900px) {
  .containerTable {
    max-height: 70vh;
  }
}

@media screen and (min-height: 1100px) {
  .containerTable {
    max-height: 75vh;
  }
}
