.container {
	width: 100%;
	height: 100%;
	display: flex;
}

.container span {
	margin: auto;
	padding: auto;
	font-size: 25px;
	color: var(--quintenary);
	font-weight: bold;
	text-align: center;
	font-style: italic;
}